version: "3"

services:
  database_redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
      - ../database/redis/redis.conf:/etc/redis/redis.conf
    command: [ "redis-server", "/etc/redis/redis.conf" ]
  database_postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: root
      PGDATA: /var/lib/postgresql/data
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../database/postgres/dump.sql:/docker-entrypoint-initdb.d/dummy_dump.sql
#      - ../database/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
#  database_pgadmin:
#    image: dpage/pgadmin4
#    environment:
#      PGADMIN_DEFAULT_EMAIL: 'admin@admin.admin'
#      PGADMIN_DEFAULT_PASSWORD: 'admin'
#      PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED: 'False'
#      GUNICORN_ACCESS_LOGFILE: '/dev/null'
#    volumes:
#      - pgadmin_data:/var/lib/pgadmin
#    ports:
#      - "5050:80"
#    logging:
#      driver: none
#    restart: unless-stopped
#  backend:
#    build:
#      context: ../backend
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    depends_on:
#      - database_postgres
#      - database_redis
#    environment:
#      - REDIS_HOST=database_redis
#      - POSTGRES_HOST=database_postgres
#    ports:
#      - "3000:3000"
#    volumes:
#      - ../backend:/usr/src/app
#      - node_modules:/home/node/app/node_modules
  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - "3001:8080"
    volumes:
      - ../backend/swagger:/usr/share/nginx/html/doc
    environment:
      API_URL: doc/swagger.yaml

volumes:
  pgadmin_data:
  postgres_data:
  redis_data:
  node_modules: