.start {
    opacity: 0;
    transform: translate(0, 5px);
    transition: all 0.15s ease-in-out;
    pointer-events: none;
}

.end {
    pointer-events: all;
    transform: translate(0, 0);
    opacity: 1;
}
