@import 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
    min-height: 100vh;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 2px;
        background: #f5f5f5;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e2e2e2;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #f5f5f5;
    }
}
